<div class='container'>
  <form action="/bands" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="id" value="<%= @band.id %>">
        <div class="form-group">
          <label for="name">Band Name</label>
          <input type="text" class="form-control" name="name" value="<%= @band.name %>">
        </div>
      <button type="submit" class="btn btn-primary btn-md">Edit</button>
  </form>
</div>
