<h3>Oops! There were some errors.</h3>
  <ul>
    <% @band.errors().full_messages().each() do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

<h5>Add a <i>band</i> or <i>venue</i> and try again!</h5>
