<body class="lf-background">

  <div class="container">
    <h1>Venue List</h1>

    <form action='/venues' method='post'
      <div class='form-group'>
        <label for="location">Add a new venue:</label>
        <input type="text" class='form-control' name="location" placeholder="e.g. Red Rocks">
      </div>

    <button type="submit" class='btn btn-primary btn-md'>Add!</button>

    </form>
  </div>
</body>

</br>

  <table class="table">
    <tr>
      <th>Venue Location</th>
    </tr>
        <% if @venues %>
          <% @venues.each do |venue| %>
            <tr>
              <td><%= venue.location %></td>
            </tr>
          <% end %>
        <% end %>
  </table>
