<h3>Oops! There were some errors.</h3>
<ul>
  <% @venue.errors().full_messages().each() do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>

<h5><a href="/">Add some <i>bands</i> and <i>venues</i> and try again!</h5>
