<div class="container">
  <h1>Venue List</h1>
  <p></p>

  <form action="/venues" method="post">
    <div class="form-group">
      <label for="description">Add a new venue:</label>
      <input type="text" class="form-control" name="location" placeholder="e.g. Red Rocks">
    </div>
      <button type="submit" class="btn btn-primary btn-md">Add!</button>
  </form>
</div>

</br>

<table class="table">
  <tr>
    <th>Venue Name</th>
    <th>Delete</th>
  </tr>

  <% if @venues %>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.location %></a></td>
        <td><a href='/venues/<%= venue.id %>/delete'>Delete</a></td>
      </tr>
    <% end %>
  <% end %>
</table>
